<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="mycss.css">
    <link rel="stylesheet" href="fontawesome-free-5.9.0-web/css/all.css">
    <script src="fontawesome-free-5.9.0-web/js/all.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>
<body class="bg-dark">
<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ourTeam">Our Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contactUs">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<div id="landing" class="landing-container">
    <div class="text-center " style="padding-top: 50vh">
        <h3>Welcome To Our Studio!</h3>
        <h1 class="text-uppercase text-white"><strong>Nice to meet you</strong></h1>
        <br/>
        <br/>
        <a class="btn btn-lg btn-dark text-uppercase" id="tellMore" href="#services">tell me more</a>
    </div>
</div>

<div id="services" class="">
    <div class="text-center text-uppercase" style="padding-top: 60px;padding-bottom: 50px;">
        <h3><strong>Services</strong></h3>
    </div>
    <div class="container-fluid">
        <div class="row services-banner">
            <div class="col-md-3 service-cards">

                <div class="text-center"><i class="fas fa-air-freshener service-icons" ></i></div>
                <h4 class="text-center service-heading">Study</h4>
                <div class="text-center service-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </div>
            </div>
            <div class="col-md-3 service-cards">

                <div class="text-center"><i class="fa fa-bars service-icons" ></i></div>
                <h4 class="text-center service-heading">Program</h4>
                <div class="text-center service-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </div>
            </div>
            <div class="col-md-3 service-cards">
                <div class="text-center"><i class="fa fa-yin-yang service-icons"></i></div>
                <h4 class="text-center service-heading">Hobbies</h4>
                <div class="text-center service-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </div>
            </div>
            <div class="col-md-3 service-cards">
                <div class="text-center"> <i class="fa fa-comments-dollar service-icons" ></i></div>
                <h4 class="text-center service-heading">Fun</h4>
                <div class="text-center service-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="programing" class="">
    <div class="row">

        <div class="col-md-6" style="height: 45vh;padding-right: 0px !important;">
            <div class="container content-text" >
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
        </div>
        <div class="col-md-6" style="height: 45vh;padding-left: 0px !important;">
            <img src="https://cdn.pixabay.com/photo/2019/04/27/23/18/yellow-4161623__340.jpg" height="100%" width="100%">
        </div>

        <div class="col-md-6" style="height: 45vh;padding-right: 0px !important;">
            <img src="https://cdn.pixabay.com/photo/2019/04/27/23/18/yellow-4161623__340.jpg" height="100%" width="100%">

        </div>
        <div class="col-md-6" style="height: 45vh;padding-left: 0px !important;">
            <div class="container content-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
        </div>
        <div class="col-md-6" style="height: 45vh;padding-right: 0px !important;">
            <div class="container content-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
        </div>
        <div class="col-md-6" style="height: 45vh;padding-left: 0px !important;">
            <img src="https://cdn.pixabay.com/photo/2019/04/27/23/18/yellow-4161623__340.jpg" height="100%" width="100%">
        </div>

    </div>
</div>

<div id="our_team" class="landing-container">
    <div id="ourTeam" class="text-center text-uppercase" style="padding-top: 60px;padding-bottom: 50px;">
        <h3><strong>Our Team</strong></h3>
        <div class="row team-row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="ash.jpg" alt="" height="200" width="200">
                    <h4>Ash Ketchum</h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-twitter social-icon"></i>
                            </a>
                        </li>
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-facebook-f  social-icon"></i>
                            </a>
                        </li>
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-linkedin-in social-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="misty.jpeg" alt="" height="200" width="200">
                    <h4>Misty</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-twitter social-icon"></i>
                            </a>
                        </li>
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-facebook-f  social-icon"></i>
                            </a>
                        </li>
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-linkedin-in social-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="brock.jpeg" alt="" height="200" width="200">
                    <h4>Brock</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-twitter social-icon"></i>
                            </a>
                        </li>
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-facebook-f  social-icon"></i>
                            </a>
                        </li>
                        <li class="list-inline-item rounded-circle social-icon-outer">
                            <a href="#">
                                <i class="fab fa-linkedin-in social-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contactUs" class="contact-us ">
    <div class="text-center text-uppercase" style="padding-top: 60px;padding-bottom: 50px;">
        <h3 class="text-white"><strong>Contact Us</strong></h3>

        <form id="contactForm" name="sentMessage" novalidate="novalidate" class="contact-form container" method="get" action="resultPage.html">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control contact-input" id="name" name="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name." aria-invalid="false">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control contact-input" id="email" name="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control contact-input" id="phone" name="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea class="form-control contact-message" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button id="sendMessageButton" name="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                </div>
            </div>
        </form>
        </form>
    </div>
</div>

<div id="footer" class="">
    footer
</div>
<script type="application/javascript">
    $(document).ready(function () {
        $(window).scroll(function () { // check if scroll event happened
            if ($(document).scrollTop() > 50) { // check if user scrolled more than 50 from top of the browser window
                $(".fixed-top").css("background-color", "#f8f8f8"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
            } else {
                $(".fixed-top").css("background-color", "transparent"); // if not, change it back to transparent
            }
        });

        $('.nav-link').click(function(e) {
            e.preventDefault();

            $('html, body').animate({
                // scrollTop: $('#ourTeam').offset().top
                scrollTop: $(this.hash).offset().top
            }, 500);
        });
        $('#tellMore').click(function(e) {
            e.preventDefault();

            $('html, body').animate({
                // scrollTop: $('#ourTeam').offset().top
                scrollTop: $(this.hash).offset().top
            }, 500);
        });
    })
    ;
</script>
</body>
</html>