<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>beta</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" >
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body>
<div style="height: auto;width: 100%;background-color: blue;overflow: hidden;background-color: #333;">
    <!--top banner-->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img alt="no image" height="50px" width="50px" src="ball.jpg" style="float: left;"/>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Somewhere</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">There</a>
            </li>
        </ul>

    </nav>



</div>

<div style="display: flex; height: 90vh;width: 100%">

    <!--side navigation-->
    <div style = "height: 100%;width: 18%;background-color: yellow; padding: 10px">
        <!--side menu-->
        <div style="padding-bottom: 10px"><a href="" class="nav-item"><i class="fas fa-cloud" style="font-size:20px;"></i> <span>My life</span></a></div>
        <div style="padding-bottom: 10px"><a href=""><i class="fas fa-car" style="font-size:20px;"></i> <span>Traveling</span></a></div>
        <div style="padding-bottom: 10px"><a href=""><i class="fas fa-envelope"></i> <span>My life</span></a></div>

    </div>

    <!--Main menu-->
    <div style = "height: 100%;width: 82%;background-color: black;padding-top: 20px" class="container">

        <div class="row">
            <div class="col-sm-4">
            <div class="card">
                <!--<div class="card-header"> header</div>-->
                <div class="card-body bg-white "> body </div>
            </div>
            </div>

            <div class=" col-sm-4">
            <div class="card  ">
                <div class="card-body bg-white"> body </div>
            </div>
            </div>

            <div class=" col-sm-4">
            <div class="card  ">
                <div class="card-body bg-white"> body </div>
            </div>
            </div>

        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <!--<div class="card-header"> header</div>-->
                    <div class="card-body bg-white "> body </div>
                </div>
            </div>

            <div class=" col-sm-3">
                <div class="card  ">
                    <div class="card-body bg-white"> body </div>
                </div>
            </div>

            <div class=" col-sm-3">
                <div class="card  ">
                    <div class="card-body bg-white"> body </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <!--<div class="card-header"> header</div>-->
                    <div class="card-body bg-white "> body </div>
                </div>
            </div>
..


        </div>
</div>
</div>
</body>
</html>